.badge {
  border: 2px solid transparent;
  border-radius: 6px;
  box-shadow: 0 0 0 2px #fff;
  font-size: 0.75rem;
  line-height: 8px;
  overflow: hidden;
  padding: 0.25rem;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}
